/.*
!.gitignore
.*.swp
/conf/
/prog/*/*/log/
/prog/*/*/pkg/
/prog/*/*/src/
/prog/unused/*/*/log/
/prog/unused/*/*/pkg/
/prog/unused/*/*/src/
/go/
/xx/xx
/xx/cntrun/cntrun
/bin/
/initramfs/build/
/tmp/
